body{
	background-color: white;
}

.header{
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	background-color: #FE642E;
	-webkit-box-shadow: 0 5px 0 rgba(255,255,255,.2);
	-moz-box-shadow:    0 5px 0 rgba(255,255,255,.2);
	box-shadow:         0 5px 0 rgba(255,255,255,.2);
	z-index: 1;
}

.content{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.head-logo{
	margin-right: 0;
	margin-left: 0;
	display: block;
	float: left;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	font-size: 22px;
	line-height: 20px;
	padding-top: 20px;
	padding-right: 100px;
	font-family: 'Julius Sans One', serif;
	font-weight: bold;
	color: #ffffff;
}

.head-logo a{
	color: #ffffff;
	text-decoration: none;
}
.header-nav{
	display: block;
	padding-top: 20px;
}

.header-nav li{
	font-size: 20px;
	display:inline;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	text-shadow: intent 1px 1px #333333;
	font-family: 'Open Sans', sans-serif;
}

.header-nav a{
	color: #FFFFFF;
	text-decoration: none;
}

.header-nav a:hover{
	text-shadow: 0 0 10px #FFFFFF;
}
