

<div id="nav" class="general">
  <ul class="nav nav-tabs">
            <li id="tab1" ng-click="tabClick(1)">
              <a href="#/home">Meine Seite</a>
            </li>
            <!-- Tab 2 for all Classes to show -->
            <li id="tab2" ng-click="tabClick(2)">
              <a href="#/main/kurse">Lehrveranstaltungen</a>
            </li>
            <li id="tab3" class="active" ng-click="tabClick(3)">
              <a href="#/main/termin-anlegen">Termin anlegen</a>
            </li>
            <li id="tab4" ng-click="tabClick(4)">
              <a href="#/aufgabe-anlegen">Aufgabe anlegen</a>
            </li>
            <li id="tab5" ng-click="tabClick(5)">
              <a href="#/main/allgemeines">Allgemein anlegen</a>
            </li>
            <li id="tab6" ng-click="tabClick(6)">
              <a href="#/rd">Entwicklung</a>
            </li>
  </ul>
</div>
<div id="main" class="general">
  <div>
	<!-- implementing the needed and specific CSS and Controller -->
	<script type="text/javascript" src="js/firstapp/controllers/neueTermine.js"></script>
	<link rel="stylesheet" href="css/neueTermine.css">
		<p id="welcome">Bitte legen sie einen neuen Termin an!</p>
		<div class="input-group">
			<p>Titel des Termins</p>
			<input class="form-control" type="text">
			<p>Zu welcher Lehrveranstaltung gehört der Termin?</p>
			<a class="dropdown-toogle">Dropdown</a>
      <ul id="lvStudy" class="dropdown-menu">
        <li ng-repeat="name in study">
          {{name}}
        </li>
      </ul>
		</div>	
	</div>
</div>  
<div id="footer" class="general">
        <div>Master of Desaster: Hendrik Thues</div>
</div>