
<div id="nav" class="general">
  <ul class="nav nav-tabs">
            <li id="tab1" ng-click="tabClick(1)">
              <a href="#/home">Meine Seite</a>
            </li>
            <!-- Tab 2 for all Classes to show -->
            <li id="tab2" class="active" ng-click="tabClick(2)">
              <a href="#/main/kurse">Lehrveranstaltungen</a>
            </li>
            <li id="tab3" ng-click="tabClick(3)">
              <a href="#/main/termin-anlegen">Termin anlegen</a>
            </li>
            <li id="tab4" ng-click="tabClick(4)">
              <a href="#/aufgabe-anlegen">Aufgabe anlegen</a>
            </li>
            <li id="tab5" ng-click="tabClick(5)">
              <a href="#/allgemeines">Allgemeines</a>
            </li>
            <li id="tab6" ng-click="tabClick(6)">
              <a href="#/rd">Entwicklung</a>
            </li>
  </ul>
</div>
<div id="main" class="general">
	  <div>
	<!-- implementing the needed and specific CSS and Controller -->
	<script type="text/javascript" src="js/firstapp/controllers/classController.js"></script>
	<link rel="stylesheet" href="css/classes.css">

		<div><p>Bitte wählen sie eine Lehrveranstaltung aus</p></div>
		<div class="allClasses">
			<accordion close-others="true">
				<accordion-group ng-repeat="s in study" heading="{{ s.name }}">
					<div ng-repeat="class in classes | filter:s.kurz">
						{{ class.name }}
					</div>	
				</accordion-group>
			</accordion>	
		</div>
	</div>
</div>  
<div id="footer" class="general">
        <div>Master of Desaster: Hendrik Thues</div>
</div>