<div>
<!-- implementing the needed and specific CSS and Controller -->
<script type="text/javascript" src="js/firstapp/controllers/neueTermine.js"></script>
<link rel="stylesheet" href="css/neueTermine.css">
		<p id="welcome">Bitte legen sie einen neuen Termin an!</p>
		<div id="completeInput">
			<p>Titel des Termins</p>
			<input type="text" class="span2 myinput">
			<p>Zu welcher Lehrveranstaltung gehört der Termin</p>
			<ul id="study" class="dropdown-menu" role="menu" aria-labelledby="dlabel1">
				Studiengang
				<li><a tabindex="-1" href="#">Test</a></li>
			</ul>	

		</div>	
	</div>
</div>	<div>
