<div>
  <ul class="nav nav-tabs">
  					<li id="tab1" ng-click="tabClick(1)">
    					<a href="#/home">Meine Seite</a>
  					</li>
  					<!-- Tab 2 for all Classes to show -->
  					<li id="tab2" ng-click="tabClick(2)">
    					<a href="#/main/kurse">Lehrveranstaltungen</a>
  					</li>
  					<li id="tab3" ng-click="tabClick(3)">
    					<a href="#/termin-anlegen">Termin anlegen</a>
  					</li>
  					<li id="tab4" ng-click="tabClick(4)">
    					<a href="#/aufgabe-anlegen">Aufgabe anlegen</a>
  					</li>
  					<li id="tab5" ng-click="tabClick(5)">
    					<a href="#/allgemeines">Allgemeines</a>
  					</li>
  					<li id="tab6" ng-click="tabClick(6)">
    					<a href="#/rd">Entwicklung</a>
  					</li>
	</ul>
</div>  